<h2><a href="view-news.jsp?section=3">Галерея</a></h2>
<div class="boxlet_content">
    <h3>Последние скриншоты</h3>
    #foreach($item in $items)
    <div align="center">
        <a href="view-message.jsp?msgid=$item.msgid">
            #if ($item.info)
            <img border=1 src="$item.icon" alt="Скриншот: $item.title" $item.info.code/>
            #else
            [bad image] <img border=1 src="$item.icon" alt="Скриншот: $item.title" $item.info.code/>
            #end
        </a>
    </div>
    <br/>
    <i>
        #if ($item.imginfo)
          ${item.imginfo.width}x${item.imginfo.height}
        #else
          Bad Image!
        #end
    </i> "${item.title}" от <a href="whois.jsp?nick=$item.nick">$item.nick</a> ($item.stat)
    <p/>
    #end
    <a href="view-news.jsp?section=3">другие скриншоты...</a>
</div>