.dw-feed-main { padding:0; }
.dw-feed-items { background:#defefc; }
.dw-feed-title-box { font-size:small; color:black; background:#defefc; }

.dw-feed-bullet-item { color:#ffffff; font-size:9px; }

a.dw-feed-item:link,
a.dw-feed-item:visited,
a.dw-feed-item:hover{ font-size: small; }
a.dw-feed-item:link { text-decoration:none;  }
a.dw-feed-item:visited { text-decoration:none;  }
a.dw-feed-item:hover { text-decoration:underline;  }

body {
  background: #defefc url();
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  }
