/* (c) Макс Валянский 1999 <maxcom@vinchi.ru> */

BODY { font-family: verdana; }

.text { text-align: justify }

.hr { background: #B0B0B0; }
hr { color: #B0B0B0; }

H1 { text-align: right; font-family: Futura, Arial, Helvetica, sans-serif; }

/* info boxes on columns */
DIV.column { text-align: center; }

.column DIV.boxlet H2 
   { 
    text-align: center; 
    color: white; 
    font-size: medium; 
    font-family: Futura, Arial, Helvetica, sans-serif; 
    width: 158px; 
    background-color: #894408; 
    border: 1px; 
    padding-bottom: 5px;
    font-weight: bold;
   }

.column DIV.boxlet H3
   {
    font-size: x-small;
   }

.column DIV.boxlet H2 A { text-decoration: none; color: white }
.column DIV.boxlet A { text-decoration: none; }
.column DIV.boxlet A:link {color: #D0F0D0}
.column DIV.boxlet 
   { 
    font-size: x-small; 
    font-family: verdana; 
    margin-top: 30px; 
    width: 158px; 
    text-align: left; 
    border: 2px;
    padding-bottom: 1em;
    border-color: white;
    border-style: solid;
   }

.column DIV.boxlet LI { list-style: inside }

DIV.columnimg
   { 
    font-size: x-small; 
    font-family: verdana; 
    margin-top: 30px; 
    text-align: center; 
   }

/* news items */
DIV.news H2 { font-family: sans-serif;  margin-bottom: 5px; margin-top: 5px; }
DIV.news DIV.msg { text-align: justify }
DIV.news DIV.nav { text-align: left; margin-top: 1em; }
DIV.news DIV.sign { font-style: italic; margin-top: 1em; }

/* view-forum */
DIV.forum A { text-decoration: none }
TR.color2 { background: #000080; }
.color1 { background: #808080; }

/* view-message */
DIV.messages DIV.nav { text-align: right; margin-bottom: 1em; }
DIV.messages DIV.messagebox { border: 2px; border-style: solid; border-color: white; } 
DIV.messages .title { background: #894408; }
.messages .comment .title { background: #894408; }
.messages .body { background: #0a0a8c; }

/* general */
DIV.notes 
   { 
    text-align: center; 
    font-style: italic; 
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
    border: solid white;
   }

IMG.newsimage { float: left; }

