/* (c) Макс Валянский 1999 <maxcom@vinchi.ru> */

BODY { font-family: serif; }

.hr { background: #B0B0B0; }
hr { color: #B0B0B0; }

/* info boxes on columns */
.column DIV.boxlet H2
   { 
    text-align: center; 
    color: white; 
    font-size: medium; 
    font-family: sans-serif;
    width: 158px;
    background-color: #4876ff;
    border: 1px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 0px;
   }

.column DIV.boxlet H3
   {
    font-size: x-small;
   }

.column DIV.boxlet H2 A { text-decoration: none; color: white }
.column DIV.boxlet A { text-decoration: none }

.column DIV.boxlet 
   { 
    font-size: small; 
    font-family: serif; 
    margin-bottom: 30px; 
    width: 158px; 
    text-align: left; 
    background-color: #d0d0d0; 
    border: 1px;
    padding-bottom: 1em;
   }

DIV.columnimg
   { 
    font-size: small; 
    font-family: serif; 
    margin-top: 30px; 
    text-align: center; 
   }

/* news items */
DIV.news H2 { font-family: sans-serif;  margin-bottom: 5px; margin-top: 5px; }
.news H2 A { color: black; }
H1 A { color: black; }
DIV.news DIV.nav { text-align: left; margin-top: 1em; }
DIV.news DIV.sign { font-style: italic; margin-top: 1em; }

/* view-forum */
DIV.forum A { text-decoration: none }
.color1 { background: #c0c0c0; }
TR.color2 { background: #f0f0f0; }

.message-table {
  background: #c0c0c0;
  border-spacing: 1px;
}

.message-table td {
  padding: 0;
}

.message-table tbody {
  background: #f0f0f0;
}

/* view-message */
.nav { text-align: center; margin-bottom: 1em; }
.nav A {
  text-decoration: none
}

.entry-body .nav A {
  text-decoration: underline;
  margin-bottom: 0;
}


DIV.messages .title { background: #4876ff; }
.messages .comment .title { background: #90ff90; }
.messages .body { background: #f0f0f0; }

/* general */
DIV.notes 
   { 
    text-align: center; 
    font-style: italic; 
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
    border: solid black;
   }
