$heatmap_max: #73d216;
$heatmap_scale: 1.5;

@media (prefers-color-scheme: light) {
    :root {
        --main-background: #d3d7cf;
        --text-color: #2e3436;
        --link-color: #204a87;
        --site-title-color: #2e3436;
        --header-color: #555753;
        --blockquote-color: #555753;
        --table-border-color: #babdb6;
        --table-link-color: #2e3436;
        --table-hover-background: #ad7fa8;
        --tag-color: #ce5c00;
        --main-menu-color: #8f5902;
        --signature-user-color: #4e9a06;
        --signature-remark-color: #444444;
        --article-background: #eeeeec;
        --button-border-color: #2e3436;
        --button-selected-text-color: white;
        --button-primary-background: #729fcf;
        --button-danger-background: #fa3535;
        --icon-button-active-color: #c17d11;
        --tagpage-group-label-background: #e9b96e;
        --icon-reply-color: #729fcf;
        --icon-pin-color: #c4a000;
        --preview-border-color: #c4a000;

        --heatmap-empty: #babdb6;
        --heatmap-max: #{adjust-color($heatmap_max, $lightness: -20%*$heatmap_scale)};
        --heatmap-q4: #{adjust-color($heatmap_max, $lightness: -15%*$heatmap_scale)};
        --heatmap-q3: #{adjust-color($heatmap_max, $lightness: -10%*$heatmap_scale)};
        --heatmap-q2: #{adjust-color($heatmap_max, $lightness: -5%*$heatmap_scale)};
        --heatmap-q1: #{$heatmap_max};
    }
}