$heatmap_max: #73d216;
$heatmap_scale: 1.5;

@media (prefers-color-scheme: light) {
    :root {
        --main-background: #d3d7cf;
        --text-color: #2e3436;
        --link-color: #204a87;
        --site-title-color: #2e3436;
        --header-color: #2e3436;
        --blockquote-color: #555753;
        --table-border-color: #babdb6;
        --table-link-color: #2e3436;
        --table-hover-background: #ad7fa8;
        --tag-color: #ce5c00;
        --main-menu-color: #8f5902;
        --signature-user-color: #4e9a06;
        --signature-remark-color: #444444;
        --article-background: #eeeeec;
        --button-border-color: #2e3436;
        --button-selected-text-color: white;
        --button-primary-background: #729fcf;
        --button-danger-background: #cc0000;
        --button-danger-text-color: #d3d7cf;
        --icon-button-active-color: #c17d11;
        --tagpage-group-label-background: #e9b96e;
        --icon-reply-color: #729fcf;
        --icon-pin-color: #c4a000;
        --preview-border-color: #c4a000;

        --heatmap-empty: #babdb6;
        --heatmap-max: #{adjust-color($heatmap_max, $lightness: -20%*$heatmap_scale)};
        --heatmap-q4: #{adjust-color($heatmap_max, $lightness: -15%*$heatmap_scale)};
        --heatmap-q3: #{adjust-color($heatmap_max, $lightness: -10%*$heatmap_scale)};
        --heatmap-q2: #{adjust-color($heatmap_max, $lightness: -5%*$heatmap_scale)};
        --heatmap-q1: #{$heatmap_max};

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/
        --syntax-mono-1: #383a42;
        --syntax-mono-3: #a0a1a7;
        --syntax-hue-1: #0184bb;
        --syntax-hue-2: #4078f2;
        --syntax-hue-3: #a626a4;
        --syntax-hue-4: #50a14f;
        --syntax-hue-5: #e45649;
        --syntax-hue-6: #986801;
        --syntax-hue-6-2: #c18401;
    }
}