
.icon-eye:before { content: '\2b'; } /* '+' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-rss:before { content: '\e800'; } /* '' */
.icon-reply:before { content: '\e801'; } /* '' */
.icon-pin:before { content: '\e802'; } /* '' */