@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?54692118');
  src: url('/font/fontello.eot?54692118#iefix') format('embedded-opentype'),
       url('/font/fontello.woff2?54692118') format('woff2'),
       url('/font/fontello.woff?54692118') format('woff'),
       url('/font/fontello.ttf?54692118') format('truetype'),
       url('/font/fontello.svg?54692118#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54692118#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-eye:before { content: '\2b'; } /* '+' */
.icon-user:before { content: '\40'; } /* '@' */
.icon-reply:before { content: '\52'; } /* 'R' */
.icon-pin:before { content: '\2022'; } /* '•' */
.icon-rss:before { content: '\e800'; } /* '' */
.icon-spin:before { content: '\e801'; } /* '' */
.icon-eye-with-line:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-tag:before { content: '🔖'; } /* '\1f516' */
