#mainpage {
  @include clearfix;
  @include container;
}

#news {
  padding-top: 5px;
  padding-bottom: 5px;

  @include respond-to(desktops) {
    @include column(9, 3);
  }
}

#boxlets {
  @include respond-to(desktops) {
    @include column(3);
    font-size: 0.8em;
  }

  .boxlet {
    H2 {
      padding: 5px;
    }

    li {
      list-style: inside !important;
      margin-left: 0 !important;
    }
  }

  .boxlet_content {
    padding-left: 0.5em;
    padding-right: 0.5em;

    ul {
      padding-left: 0;
    }
  }
}