.tracker {
}

.tracker-item {
  @include clearfix();
  @include container();

  padding: 0.5em;

  border-top: 1px solid $table_border_color;
  border-right: 1px solid $table_border_color;
  border-left: 1px solid $table_border_color;

  .tracker-src {
    @include column(9);
  }

  &:last-of-type {
    border-bottom: 1px solid;
    border-color: $table_border_color;
  }

  .tracker-count {
    @include column(3, 9);
  }

  .tracker-title {
    @include column(12);

    clear: both;
    @include clearfix();
  }

  .tracker-footer {
    @include column(9);

    .tag {
      border-radius: 3px;
      font-size: 0.8em;
      padding: 2px 4px;
      background-color: $table_border_color;
    }

    clear: both;
    @include clearfix();
  }

  .tracker-last {
    @include column(3, 9);
  }
}