.tracker-item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  border-top: 1px solid $table_border_color;
  border-right: 1px solid $table_border_color;
  border-left: 1px solid $table_border_color;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: $table_background_color;

  p {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
  }

  &:last-of-type {
    border-bottom: 1px solid;
    border-color: $table_border_color;
  }

  .tracker-src {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
  }

  .tracker-count {
    text-align: right;

    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
  }

  .tracker-title {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
  }

  .tracker-tags {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;

    .tag {
      border-radius: 3px;
      font-size: 0.8em;
      padding: 2px 4px;
      background-color: $tracker_tag_color;
    }
  }

  .tracker-last {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 3;

    text-align: right;
    align-self: end;
  }

  a {
    text-decoration: none;
    color: $table_link_color;

    &:visited {
      color: $text_color;
    }
  }

  @include respond-to(desktops) {
    &:hover {
      background-color: $table_hover_background;
    }

    .tracker-src {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .tracker-count {
      text-align: right;

      grid-column-start: 12;
      grid-row-start: 1;
      grid-row-end: 3;

      align-self: center;
    }

    .tracker-last {
      grid-column-start: 9;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 3;

      text-align: right;
      align-self: center;
    }

    .tracker-title {
      grid-column-start: 3;
      grid-column-end: 9;
      grid-row-start: 1;
    }

    .tracker-tags {
      grid-column-start: 3;
      grid-column-end: 9;
      grid-row-start: 2;
    }

    .group-label {
      font-size: 1em;
      border-radius: 0;
      padding: 0;
      background-color: inherit;
      color: inherit;
    }
  }
}