; Main url (used for redirects and etc)
MainUrl=http://test-lor:8080/
; Path to directory tree
PathPrefix=/var/www/test-lor/
; Path to html root
HTMLPathPrefix=/var/www/test-lor/webapps/lor/
; Log
Logfile=/var/tmp/site.log
;
Secret=secret
