<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
  <resource-ref>
    <description>Primary JDBC source</description>
    <res-ref-name>jdbc/lor</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>ru.org.linux.site.ImageCaptchaServlet</servlet-class>

        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>false</param-value>
        </init-param>

        <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha.jsp</url-pattern>

  </servlet-mapping>

   <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>

  <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>

  <error-page>
      <error-code>404</error-code>
      <location>/error404.jsp</location>
  </error-page>

  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>

  <session-config>
	<session-timeout>60</session-timeout>
  </session-config>

</web-app>
