//- подпись к посту
    user - класс ApiUserRef
    shortMode - boolean; короткий режим (для новостей)
    author - boolean; является ли автором страницы
    postdate - дата; дата написания
    timeprop - атрибут itemprop даты

include common

mixin sign(user, shortMode, author, postdate, timeprop)

