.dw-feed-main { padding:0; }
.dw-feed-items { color: #babdb6; }
.dw-feed-title-box { font-size:small; color:#ffffff; }

.dw-feed-bullet-item { color:#ffffff; font-size:9px; }

a.dw-feed-item:link,
a.dw-feed-item:visited,
a.dw-feed-item:hover{ font-size: small; color:white; }
a.dw-feed-item:link { text-decoration:none; color:white; }
a.dw-feed-item:visited { text-decoration:none; color:white; }
a.dw-feed-item:hover { text-decoration:underline; color:white; }

body {
  background-image: url();
    margin: 0;
    background: #272C2D;
}
