/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

:root {
  --syntax-mono-1: #abb2bf;
  --syntax-mono-3: #5c6370;
  --syntax-hue-1: #56b6c2;
  --syntax-hue-2: #61aeee;
  --syntax-hue-3: #c678dd;
  --syntax-hue-4: #98c379;
  --syntax-hue-5: #e06c75;
  --syntax-hue-6: #d19a66;
  --syntax-hue-6-2: #e6c07b;
}

.hljs {
  color: var(--syntax-mono-1);
  /* background: #282c34; */
}

.hljs-comment,
.hljs-quote {
  color: var(--syntax-mono-3);
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--syntax-hue-3);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--syntax-hue-5);
}

.hljs-literal {
  color: var(--syntax-hue-1);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: var(--syntax-hue-4);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--syntax-hue-6);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--syntax-hue-2);
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: var(--syntax-hue-6-2);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
