.news {
  border-top: 1px solid;
}

.newsblog .nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.entry-body .nav {
  border-top: none;
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1em;
}

.text { text-align: justify }

div.entry-userpic {
  float: left;
  text-align: center;
  width: 70px;
}

div.entry-body {
  margin-left: 70px;
  text-align: justify;
}

