.news {
  border-top: 1px solid;
}

.newsblog .nav {
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.newsblog2 .nav {
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.entry-body .nav {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1em;
}

.text { text-align: justify }

div.entry-userpic {
  float: left;
  text-align: center;
  width: 70px;
}

div.entry-body {
  margin-left: 70px;
}

/* info boxes on columns */
DIV.column {
  text-align: center;
  float: left;
  width: 240px;
}

DIV.column2 {
  text-align: center;
  width: 240px;
  position: absolute;
  right: 0;
}

DIV.newsblog {
  margin-left: -245px;
  float: right;
  width: 100%;
}

.newsblog-in {
  margin-left: 245px;
}

.newsblog-in2 {
  margin-left: 245px;
  margin-right: 245px;
}

DIV.newsblog2 {
  margin-left: -490px;
  width: 100%;
  float: right;
}

H1 {
  margin-top: 0; margin-bottom: 5px
}

.messages H2 { margin-bottom: 5px; margin-top: 0; }

.nav {
  text-align: center; margin-bottom: 1em;
}

form>.nav {
  margin-bottom: 0;
}

table.nav {
  width: 100%;
  border-collapse: collapse;
}

.pageinfo {
  text-align: center; margin-bottom: 1em;
}

.nav A {
  text-decoration: none
}

.msg .reply {
  font-size: smaller;
}

DIV.sign {
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em; 
}

.messages .msg {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.highLighted
{
    border: red solid 1px;
}

.cloud0 { font-size: 0.5em; }
.cloud1 { font-size: 0.6em; }
.cloud2 { font-size: 0.7em; }
.cloud3 { font-size: 0.8em; }
.cloud4 { font-size: 0.9em; }
.cloud5 { font-size: 1em; }
.cloud6 { font-size: 1.1em; }
.cloud7 { font-size: 1.2em; }
.cloud8 { font-size: 1.3em; }
.cloud9 { font-size: 1.4em; }
.cloud10 { font-size: 1.5em; }

DIV.boxlet H2 {
  width: 238px;
}

DIV.boxlet {
  width: 238px;   
}


