[Unit]
Description=Apache Solr search server for LOR
After=network.target

[Service]
Type=simple
ExecStart=/opt/lor/run-solr.sh /opt/lor/ /opt/lor/solr/WEB-INF /opt/lor/jetty-solr.xml

User=tomcat
Group=tomcat

SyslogIdentifier=lor-solr
SyslogFacility=local2

[Install]
WantedBy=multi-user.target
