
.icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */