ErrorDocument 404 /errors/code404.jsp

Redirect permanent /info.html http://www.linux.org.ru/books/
Redirect permanent /info-mirror.html http://www.linux.org.ru/books/
Redirect permanent /rss.xml http://www.linux.org.ru/section-rss.jsp
#Redirect permanent /rss.jsp http://www.linux.org.ru/section-rss.jsp

RewriteEngine on
RewriteRule ^profile/([^/]+)$	/profile/$1/	[R]
#RewriteRule ^profile/([^/]+)/(.*)	/$2

ExpiresActive on
ExpiresByType image/jpeg "access plus 1 week"
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/gif "access plus 1 week"
ExpiresByType image/webp "access plus 1 week"