/* Very wide screens */
@media screen and (min-width: 90em) {
    html {
        font-size: 1.125em;
    }
}

/* tablet */
@media screen and (max-width: 60em) {
    #interpage-adv img {
        max-width: 100%;
        height: auto;
    }

    figure.medium-image {
        float: none;
        margin-left: inherit;
    }

    .hideon-tablet {
        display: none;
    }

    span.hideon-desktop {
        display: inline;
    }

    .hideon-desktop {
        display: inherit;
    }

    div.newsblog {
        float: none;
        margin-left: 0;
    }

    .newsblog-in {
        margin-left: 0;
    }

    .column {
        width: 100%;
        float: none;
    }

    #bd .column {
	    font-size: inherit;
    }


    div.boxlet {
        width: 100%;
    }

    div.boxlet h2 {
        width: auto;
    }

    #bd {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #hd {
        padding-left: 0.5em;
    }

    #commentForm textarea {
        width: 100%;
    }

    #commentForm input[type='text'] {
        width: 100%;
    }

    .userpic {
        width: 100px;
    }

    .message-w-userpic {
        padding-left: 115px;
    }

    img.photo {
        max-width: 100%;
        height: auto;
    }

    .penguin_progress {
        width: 60%;
    }

    .penguin_label {
        width: 20%;
    }

    .penguin_percent {
        width: 10%;
    }

    .penguin_progress span {
        background-repeat: repeat-x;
        background-color: #729fcf !important;
        background-image: none !important;
        display: block;
        height: 19px;
    }

    code, .code, pre {
        margin: 0;
    }

}

/* phone */
@media screen and (max-width: 40em) {
    .hideon-phone {
        display: none;
    }

    .visible-phone {
        display: inherit;
    }

    div.entry-userpic {
        float: right;
    }

    div.entry-body {
        margin-left: 0;
    }

    #bd {
        padding-left: 0;
        padding-right: 0;
    }

    #hd {
        padding-left: 0;
    }

    img.photo {
        max-width: 100% !important;
        height: auto;
    }

    img.medium-image {
        max-width: 100%;
        height: auto;
    }

    .userpic {
        width: 50px !important;
    }

    .message-w-userpic {
        padding-left: 60px;
    }

    .msg footer .sign {
        margin-left: 60px;
    }

    #navPath {
        float: none;
    }

    .nav-buttons {
        float: none;
        text-align: left;
    }

    #sitetitle {
        font-size: 1.6em;
        float: none;
    }

    #commentForm textarea {
        height: 10em;
    }

    div[itemprop="articleBody"] {
        margin-right: 0;
    }

    .msg .tags-section-info .tags {
        display: block;
    }

    .msg h1 {
        font-size: 1.6em;
    }

    .form-horizontal .control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }

    .form-horizontal .controls {
        margin-left: 0;
    }

    .penguin_progress {
        width: 60%;
    }

    .penguin_label {
        width: 20%;
    }

    .penguin_percent {
        width: 10%;
    }

    .penguin_progress span {
        background-repeat: repeat-x;
        background-color: #729fcf !important;
        background-image: none !important;
        display: block;
        height: 19px;
    }

    code, .code, pre {
        margin: 0;
    }
}
