.dw-feed-main { padding:0px; }
.dw-feed-items { background:#000030; }
.dw-feed-title-box { font-size:small; color:#ffffff; background:#000030; }

.dw-feed-bullet-item { color:#ffffff; font-size:9px; }

a.dw-feed-item:link,
a.dw-feed-item:visited,
a.dw-feed-item:hover{ font-size: small; }
a.dw-feed-item:link { text-decoration:none; color:#D0D0F0; }
a.dw-feed-item:visited { text-decoration:none; color:#D0D0F0; }
a.dw-feed-item:hover { text-decoration:underline; color:#E65D29; }

body {
  background-image: url();
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background: #000030;
}
