/* (c) Макс Валянский 1999 <maxcom@vinchi.ru> */

BODY { 
	font-family: sans-serif;
	background: #000000;
	color: #c8c8c8;
}

A {
	color: #fefefe;
}

A:visited {
	color: #d1d0d0;
}

A:active {
	color: #808080;
}

.hr { background: #404040; }
hr { color: #404040; }

H1 { 
	color: #ffffff; 
}
H2 { color: #ffffff; }

H1 A { text-decoration: none; }


DIV.boxlet H2
   { 
    text-align: center; 
    color: white; 
    font-size: medium; 
    font-family: sans-serif; 
    width: 158px; 
    background-color: #000080; 
    border: 1px; 
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 0px;
   }

DIV.boxlet H3
   {
    font-size: small;
   }

DIV.boxlet H2 A { text-decoration: none; color: white }
DIV.boxlet A { text-decoration: none; }
DIV.boxlet A:link {color: #D0D0F0}
DIV.boxlet
   { 
    font-size: small; 
    font-family: sans-serif; 
    width: 158px; 
    text-align: left; 
    background-color: #000030; 
    border: 1px;
    padding-bottom: 1em;
    margin-bottom: 1em;
   }

DIV.boxlet LI { list-style: inside }

DIV.columnimg
   { 
    font-size: small; 
    font-family: sans-serif; 
    margin-top: 30px; 
    text-align: center; 
   }

/* news items */
.news H2 { font-family: sans-serif; margin-bottom: 5px; margin-top: 5px; }
.news H2 A { text-decoration: none; color: white; }
.news DIV.nav { text-align: left; margin-top: 1em; }
.news DIV.sign { font-style: italic; margin-top: 1em; }


/* view-forum */
DIV.forum A { text-decoration: none }
.color1 { background: #808080; }
TR.color2 { background: #000080; }
.message-table {
  background: #808080;
  border-spacing: 1px;
}

.message-table td {
  padding: 0;
}

.message-table tbody {
  background: #000080;
}

.nav {
  text-align: center; margin-bottom: 1em;
}

.nav A {
  text-decoration: none
}

.entry-body .nav A {
  text-decoration: underline;
  margin-bottom: 0;
}

DIV.messages .title { background: #000080; }
.messages .comment .title { background: #000080; }
.messages .body { background: #000040; }
.messages .comment .nav { text-align: left; font-style: italic; }

/* general */
DIV.notes 
   { 
    text-align: center; 
    font-style: italic; 
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
    border: solid white;
   }



