<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 1998-2012 Linux.org.ru
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:p='http://www.springframework.org/schema/p' xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!-- the application context definition for the springapp DispatcherServlet -->

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="useSuffixPatternMatch" value="false"/>
    </bean>

    <context:component-scan base-package="ru.org.linux" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:annotation-config/>

    <security:global-method-security pre-post-annotations="enabled" secured-annotations="enabled"/>

    <mvc:default-servlet-handler/>

    <mvc:resources mapping="/gallery/*.jpg" location="/gallery/" cache-period="31556926"/>
    <mvc:resources mapping="/gallery/*.png" location="/gallery/" cache-period="31556926"/>
    <mvc:resources mapping="/gallery/*.gif" location="/gallery/" cache-period="31556926"/>
    <mvc:resources mapping="/gallery/preview/*.jpg" location="/gallery/preview/" cache-period="31556926"/>
    <mvc:resources mapping="/gallery/preview/*.png" location="/gallery/preview/" cache-period="31556926"/>
    <mvc:resources mapping="/gallery/preview/*.gif" location="/gallery/preview/" cache-period="31556926"/>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" p:order="1" />

    <bean id="exceptionMapping"
          class="ru.org.linux.exception.ExceptionResolver" p:order="2">
        <property name="exceptionMappings">
            <props>
                <prop key="ru.org.linux.site.MessageNotFoundException">errors/code404</prop>
                <prop key="ru.org.linux.section.SectionNotFoundException">errors/code404</prop>
                <prop key="org.springframework.web.HttpRequestMethodNotSupportedException">errors/code404</prop>
                <prop key="ru.org.linux.auth.AccessViolationException">errors/code403</prop>
                <prop key="org.springframework.security.access.AccessDeniedException">errors/code403</prop>
                <prop key="ru.org.linux.tag.TagNotFoundException">errors/code404</prop>
                <prop key="ru.org.linux.util.ServletParameterException">errors/bad-parameter</prop>
                <prop key="org.springframework.beans.TypeMismatchException">errors/bad-parameter</prop>
                <prop key="org.springframework.web.bind.MissingServletRequestParameterException">errors/bad-parameter</prop>
                <prop key="org.springframework.validation.BindException">errors/bad-parameter</prop>
                <prop key="ru.org.linux.user.UserBanedException">errors/user-banned</prop>
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">errors/upload-size</prop>
            </props>
        </property>
    </bean>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="1500000"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
            id="feedConfigurer">
        <property name="location" value="/WEB-INF/feeds.properties"/>
    </bean>

    <bean id="absractRomeView" class="ru.org.linux.spring.AbstractRomeView" abstract="true">
        <property name="contentTypes">
            <map>
                <entry key="rss" value="application/rss+xml"/>
                <entry key="atom" value="application/atom+xml"/>
            </map>
        </property>
        <property name="feedTypes">
            <map>
                <entry key="rss" value="rss_2.0"/>
                <entry key="atom" value="atom_1.0"/>
            </map>
        </property>
        <property name="defaultType" value="${feeds.defaultType}"/>
        <property name="defaultCount" value="${feeds.defaultCount}"/>
        <property name="minimalCount" value="${feeds.minimalCount}"/>
        <property name="maximalCount" value="${feeds.maximalCount}"/>
    </bean>
    <bean id="replyFeed" class="ru.org.linux.user.ReplyFeedView" parent="absractRomeView" scope="prototype"/>

    <mvc:interceptors>
        <bean class="ru.org.linux.spring.Perf4jHandlerInterceptor"/>
        <bean class="ru.org.linux.csrf.CSRFHandlerInterceptor"/>
    </mvc:interceptors>

    <bean id="jacksonMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jacksonMessageConverter"/>
            </list>
        </property>
    </bean>
</beans>
