@charset "UTF-8";

@font-face {
  font-family: 'fontello-2dc47ee2';
  src: url('fontello-2dc47ee2.eot');
  src: url('fontello-2dc47ee2.eot?#iefix') format('embedded-opentype'),
       url('fontello-2dc47ee2.woff') format('woff'),
       url('fontello-2dc47ee2.ttf') format('truetype'),
       url('fontello-2dc47ee2.svg#fontello-2dc47ee2') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: fontello-2dc47ee2;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-star:before { content: "★"; } /* '\2605' */
.icon-eye:before { content: ""; } /* '\e70a' */
.icon-tag:before { content: ""; } /* '\e70c' */
